* {
    font-family: Arial, sans-serif;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.messages__block {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}