* {
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	margin: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 270px;
}

.cages {
	width: 30px;
	height: 30px;
	background-color: black;
	text-align: center;
}

.cage_theme_brown {
	width: 30px;
	height: 30px;
	background-color: grey;
	text-align: center;
}

.content {
	width: 30px;
	height: 30px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.button {
	margin-bottom: 20px;
	margin-top: 20px;
}

.basket {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.basket__title {
	margin-right: 30px;
}

.generate-catalog {
	display: flex;
	justify-content: center;
}

.generate-catalog__button {
	margin-bottom: 50px;
}

.title {
	text-align: center;
}

.catalog__item {
	display: flex;
	margin-bottom: 30px;
	align-items: center;
	justify-content: space-evenly;
}

.catalog__title {
	margin-right: 50px;
}

.catalog__price {
	margin-right: 100px;
}

.basket__text {
	margin-right: 30px;
}

button {
	cursor: pointer;
}

.title {
	margin-bottom: 30px;
}
.basket-list{
	margin: 0;
	padding: 0;
}
.basket-item{
	display: flex;
}
.basket-list__item{
	background-color: turquoise;
	margin-top: 30px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}