body{
    margin: 0 auto;
}
h2{
    text-align: center;
}
.goods-item{
    border: 1px solid gray;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, 0.2);
    margin-top: 20px;
    
}
.goods-item:hover{
    background-color: rgb(189, 184, 184);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
}
.goods-list{
    display: flex;
    justify-content: space-around;
}
.basket-item:hover{
    background-color: rgb(255, 132, 132);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
}
.basket-item{
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(255, 155, 155);
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, 0.2);
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
}
