.message-list {
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 228, 240);    
    overflow-y: scroll;
    /* padding: 20px;
    overflow-y: scroll;
    width: calc(100% - 40px); */
}
