<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo.app</title>
    <style>
        * {
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        .todolist {
            width: 50%;
            margin: 0 auto;
            max-width: 800px;
        }

        .checked {
            text-decoration: line-through;
            color: gray;
        }

        .item-todolist {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid blue;
            padding: 5px;
            align-items: center;
        }

        .todo-item {
            width: 70%;
            text-align: left;
        }

        .todo-button {
            width: 15%;
            text-align: right;
            min-width: 100px;
        }

        .input-text {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
        }

        .add-todo {
            margin-top: 5px;
        }

        .btn {
            padding: 5px;
        }

        .btn-add {
            width: auto;
        }

        .err {
            margin-bottom: 10px;
        }

        .err-nouserdata::after {
            content: 'не введены важные данные (email, пароль)';
            color: red;
            margin-left: 5px;
        }

        .err-repassword::after {
            content: 'пароли не совпадают';
            color: red;
            margin-left: 5px;
        }
    </style>
</head>

<body>
    {{> header}}
    <div class="todolist">
        {{{body}}}
    </div>
    {{> footer}}
</body>

</html>