<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to-do app</title>
    <style>
        .task-list_el {
            display: flex;
            align-items: center;

        }
    </style>
    <script defer>

    </script>

</head>

<body>
    {{> header}}
    {{{body}}}
    {{> footer}}


</body>

</html>