<p><a href="/logout">Выйти</a></p>
<a href="./news">Главная</a>
<a href="./settings">Настройки</a>
<div>
    <h2>Новости:</h2>
    {{#each newsBlock }}
    <div>
        <hr>
        <p>{{this.date}}</p>
        <h3>{{this.title}}</h3>
    </div>
    {{/each}}
</div>