<form action="/createTodo" method="POST">
    <div class="form-group d-flex align-items-center justify-content-center">
        <input type="text" class="form-control w-50" id="create" placeholder="Add task" name="todoText"
            style="border-radius: 3px 0 0 3px; font-size: 22px;">
        <input class="btn btn-primary" type="submit" value="Add"
            style="border-radius: 0  3px 3px 0; font-size: 22px; width: 120px">
    </div>
</form>