<form action="/recipesParse" method="POST" class="form-inline">
    <label for="counter" style="padding-right: 5px">Сколько пирогов генерируем?</label>
    <input type="text" class="form-control mr-2" id="counter" placeholder="Введите количество" name="count"
        value="{{recCount}}">
    <button class="btn btn-primary" type="submit">Поехали!</button>
</form>