.messenger {
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.appField {
    display: flex;
    flex-direction: row;
}