<div>
    <h2>Новости</h2>
    <div class="news">
        {{#each newsSlice }}
        <div>
            <hr>
            <h3>{{this.title}}

                {{!-- </h3><a href="{{this.href}}"></a> --}}
                <p>{{this.description}}</p>
        </div>
        {{/each}}
    </div>





</div>