*{
    margin: 0;
    padding: 5px;
}


.container
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container2
{
   width: 400px;
}