* 
{
    margin: 0;
    padding: 0;
}

body
{  
     padding: 50px;
} 

/*Модальное окно*/
.modal {
    margin: 0; /* убираем отступы */
    padding: 0; /* убираем отступы */
    position: fixed; /* фиксируем положение */
    top:0; /* растягиваем блок по всему экрану */
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5); /* полупрозрачный цвет фона */
    z-index:100; /* выводим фон поверх всех слоев на странице браузера */
    opacity:0; /* Делаем невидимым */
    pointer-events: none; /* элемент невидим для событий мыши */

    display: flex;
    }   

    .modal.open {
        opacity: 1; /* делаем окно видимым */ 
        pointer-events: auto; /* элемент видим для событий мыши */
    }
    
    /* ширина диалогового окна и его отступы от экрана */
    .modalwindow {
        width: 75%;
       /* max-width: 300px;*/
       /*margin: 10% auto;*/    
        margin: auto;         
        padding: 10px;
        background: #fff;
        border-radius: 3px;
    }
       
    
    /* свойства для заголовка модального окна */
    .modal-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        /*padding: 15px;*/
        border-bottom: 1px solid #eceeef;
  }

  .modal-title {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 1.25rem;
        font-weight: 500;
  }

  /* свойства для кнопки "Закрыть" */
  .close {
        float: right;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        text-decoration: none;
  }

  /* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
  .close:focus,
  .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .75;
  }

  /* свойства для блока, содержащего основное содержимое окна */
  .modal-body {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;      
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

  } 
/*Модальное окно*/


.cart
{
    text-align: center;
    font-size: 20px;
    color: black;
}

.cart-empty
{
    color: red;
}

.product
{
    background-color: ivory;
    border: blue solid 1px;
    padding: 20px;
    margin-top: 10px;
}

.product h3
{
    color: blue;
}

.product h4
{
    margin-top: 10px;
    color: brown;
}


.button
{
    margin-top: 20px;
}

.productListImg
{
    margin-top: 20px;
    margin-bottom: 20px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: left;
}

.modal_productListImg
{    
    justify-content: center;
}

.productFullImg
{
    width: 500px;
    height: 500px;

}

.img_productFullImg
{
    width: 100%;
    height: 100%;
}

.productImg
{
    width: 50px;
    margin: 5px;   
    border: gray 1px solid;
    border-radius: 8px;
    filter: alpha (Opacity=50);/* прозрачность для IE */
    opacity: 0.50;/* прозрачность для других браузеров */ 
}

.productImg-current
{
    filter: alpha (Opacity=100);/* прозрачность для IE */
    opacity: 1;/* прозрачность для других браузеров */
    border: black 1px solid;    
}

.productImg:hover {

    filter: alpha (Opacity=100);/* прозрачность для IE */
    opacity: 1;/* прозрачность для других браузеров */
    cursor: pointer;
}