.message-list {
    display: flex;
    flex-direction: column;
    background-color: rgb(160, 217, 240);
    height: 90%;
    padding: 20px;
    overflow-y: scroll;
    width: calc(100% - 40px);    
}