* {
    margin: 0;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;            
    color: rgb(181, 196, 216);
    background-color: rgb(48, 90, 107);
    padding: 5px;    
}
a {text-decoration: none; color:rgb(11, 5, 27); font-family: Verdana, Geneva, Tahoma, sans-serif;}
a:hover {color: rgb(55, 106, 173);}

.container {
    display: flex;
    flex-direction: row;        
    width: 100%;       

}
