<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js" defer></script>
    <script>
        console.log('Works!');
    </script>
</head>

<body>
    {{> header}}
    {{!-- {{> form}} --}}
    {{{body}}}
    {{> footer}}
</body>

</html>
