<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script>
        console.log('Works!');
    </script>
    <style>
        .news {

            font-size: 10px;
            margin: 0 auto;
            width: 500px;

        }
    </style>
</head>

<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>

</html>