.menu {
    width:100%;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    color:white;
}
.ava {
    display: flex;
    flex-direction: row;    
    align-items: center;
}
