<div class="header">
    <form action="/register" method="POST" class="form">
        <div>
            <input type="text" name="email" placeholder="Введите E-mail">
        </div>
        <div>
            <input type="text" name="firstName" placeholder="Введите имя">
        </div>
        <div>
            <input type="text" name="lastName" placeholder="Введите фамилию">
        </div>
        <div>
            <input type="password" name="password" placeholder="Введите пароль">
        </div>
        <div>
            <input type="password" name="repassword" placeholder="Повторите пароль">
        </div>
        <div>
            <input type="submit" value="Зарегистрироваться">
            <p><a href="/auth">Я уже зарегестрирован</a></p>
        </div>
    </form>
</div>
