.message-list {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 50%;
    padding: 20px;
    overflow-y: scroll;
    width: calc(100% - 40px);
    margin: 0; 
    border-radius: 10px;
}
