<div class="btn-group mb-5">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        Menu
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button"><a href="/news">News</a></button>
        <button class="dropdown-item" type="button"><a href="/settings">Settings</a></button>
    </div>
</div>

