.container {
    width: 600px;
    margin: 0 auto;
    border: solid;
}
.backgroud {
    padding: 20px;
}
.items__parent{
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}
.item {
    width: 80px;
    border: solid;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.basket__item {
    display: flex;
    justify-content: center;

}
.link {
    text-decoration: none;
}

.hide {
    display: none;
}

.main__page {
    display: block;
}

.basket__parent{
    margin: 15px 0;
}

.summary {
    margin: 15px 0;
}