* {
    font-family: Arial, sans-serif;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

.message {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 300px;
    color: white;
}
.author {
    color: lightgray;
    font-style: italic;
}
.message.right {
    align-self: flex-end;
    background-color: #7700ff;
}
.message.left {
    align-self: flex-start;
    background-color: #123456;
}
.author {
    justify-content: flex-end;
}

.list {
    width: 500px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}
