<div>
    <ul id="myUL">
        {{#each items}}
        <li id="{{this._id}}" {{#if this.status}} class="checked" {{/if}} onclick="checkedItem(this)">
            {{this.name}}
            <span class="close" onclick="deleteItem(this)">×</span>
        </li>
        {{/each}}
    </ul>
</div>
