<h3>Настройки</h3>

<form method="POST" action="/settings">
    <h4>Сколько новостей выводить на страницу</h4>
    <input type="number" name="countNews" placeholder="Сколько новостей выводить на страницу" value="{{newsCount}}">
    <input type="submit" value="OK">
</form>