<div class="container d-flex flex-column align-items-center">
    <h1 class="text-center  display-3 mb-3">Tasks app</h1>
    <span class="mb-2">user: <b>{{username}}</b></span>
    {{> createTodoForm}}
    {{> todoList}}
    <a href="/logout" class="btn btn-secondary mx-auto mt-5">Sign out</a>
</div>