<hr>
<form action="/tasksadd" method="POST">
    <div class="input_task">
        <input id="name" name="name" type="text" placeholder="Краткое имя дела">
        <textarea id="desc" name="desc" rows="10" placeholder="Описание что нужно сделать"></textarea>
        <button class="submit" type="submit">Добавить</button>
    </div>
</form>