/**
 * Переменные
 */

$color-accent: #ee7400;
$color-primary: #7700aa;
$color-success: green;
$color-shadow: rgba(0, 0, 0, 0.5);
$color-shadow-dark: rgba(0, 0, 0, 0.6);
$color-border: #e2e2e2;
$color-disabled: #ececec;
$color-lightgrey: #d3d3d3;
$color-red: #df0000;
