{{> head}}

<body>
    {{> navbar}}
    <div class="container mx-auto" style="display: flex; flex-direction: column; height: 100%">
        {{{body}}}
    </div>
</body>
{{> footer}}

</html>