/* Общие стили и сброс */

* {
  margin: 0;
  padding: 0;  
}  

.body {
  font-size: 16px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1140px;
  align-content: center;
  padding: 20px;
  position: relative;
}

.link_img {
    float: left;
    padding-right: 20px;
}

.img__menu {
    display: flex;
    justify-content: space-between; 
    margin-top: 25px;
    margin-bottom: 15px;
}

.show {
    position: absolute;
    border: 1px solid black;
    z-index: 2;
    background-color: white;
    width: 450px;
    top: 90px;
    left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.img {
    width: 400px;
    height: 400px;
    align-self: center;
}

.catalog {
  flex-basis: 50%;
}

.basket {
  flex-basis: 40%;
}

.catalog__head, .basket__head {
  font-size: 30px;
}

.catalog__item, .basket__item {
padding: 12px;
background-color: #ffffff;
border-radius: 4px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
margin-bottom: 12px;
} 

.catalog__description {
    flex-grow: 1;
}

.catalog__head, .basket__head, .basket__empty, .basket__sum {
  text-align: center;
  margin-bottom: 15px;
}

.catalog__heading, .basket__heading {
  margin-bottom: 10px;
}

.basket__item, .catalog__item {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.basket__btn, .catalog__btn {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  transition: .3s ease-in-out;
  color: #000;
  text-transform: uppercase;
}

.catalog__btnadd, .basket__btndel {
  line-height: 1.2; 
  position: relative; 
}

.catalog__btnadd:after, .basket__btndel:after {
  content: "";
  height: 100%;
  min-width: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .5s;
}
.catalog__btnadd:hover:after, .basket__btndel:hover:after {
  min-width: 100%;
  background: #95a5a6;
  opacity: .35;
}
