<div>
    <ul>
        <li><a href="http://localhost:4000">Главная</a></li>
        <li><a href="/todo">Todo list</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/logout">Выход</a></li>
    </ul>
    <h2>Пользователи</h2>
    <ul>
        {{#each users}}
        <li>{{{this.email}}} {{{this.firstName}}} {{{this.lastName}}}</li>
        {{/each}}
    </ul>
</div>