@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.chat {
  border-radius: 10px !important;

  &.active {
    background-color: rgb(119, 0, 255, 0.57) !important;
  }

  &.chat__flash {
    & .MuiAvatar-root {
      animation: blinker 1s linear infinite;
      background-color: orange;
    }

    & .MuiListItemText-root span {
      color: orange;
    }
  }
}

.router__link {
  text-decoration: none;
}
